# Servidor
NODE_ENV=development
PORT=3000

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=ganadogt
DB_PASSWORD=ganado123
DB_NAME=controlganado_db

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Pagadito
PAGADITO_UID=
PAGADITO_WSK=